.author-section {
    border: 1px solid rgb(var(--color-primary-alt));
    border-radius: 16px;
    padding: 24px;
    align-self: center !important;
}

.author-section-profile {
    width: 100%;
}

.author-section-image {
    border-radius: 100%;
}

.author-section-name {
    color: rgb(var(--color-secondary));
    font-weight: 900;
}

body {
    .author-section {
        flex-direction: row !important;
    }
}

body.mobile {
    .author-section {
        flex-direction: column !important;
    }
}