.comments-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    border: 1px solid rgb(var(--color-primary-alt));
    border-radius: 16px;
    padding: 16px;
    align-self: center !important;

    .comments-form-title {
        font-size: var(--font-size-medium);
        font-weight: 900;
        color: rgb(var(--color-secondary));
    }

    .error {
        color: red;
        align-self: center;
    }

    .checkbox {
        input {
            width: 30px;
            border: 2px solid rgb(var(--color-primary-alt));
        }
    }

    .success-message {
        color: green;
    }
}

body.mobile {
    .comments-form-user-data {
        flex-direction: column !important;
    }
}