.decorated-container {
    position: relative;
}

body {
    .decorated-container .decoration {
        width: 80%;
        height: 100px;
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid rgb(var(--color-primary-alt));
    }

    .decorated-container .decoration.main {
        right: 0;
    }

    .decorated-container .decoration.alt {
        left: 0;
    }

    .decorated-container .decoration.main {
        border-right: 1px solid rgb(var(--color-primary-alt));
    }

    .decorated-container .decoration.alt {
        border-left: 1px solid rgb(var(--color-primary-alt));
    }

    .decorated-container .decoration-children {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 32px;
    }

    .decorated-container .decoration-children.main {
        margin-right: 32px;
    }

    .decorated-container .decoration-children.alt {
        margin-left: 32px;
    }
}

body.mobile {
    .decorated-container .decoration {
        border: none;
    }

    .decorated-container .decoration-children {
        margin: unset;
    }
}