.decorated-picture {
    width: 100%;
    height: 100%;
    position: relative;
}

.decorated-picture .decoration {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.decorated-picture .decoration .image {
    width: 35.5vw;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.decorated-picture .decoration .image.main {
    background-image: var(--image-decoration-1);
}

.decorated-picture .decoration .image.alt {
    background-image: var(--image-decoration-2);
}

.decorated-picture .decoration-children {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.decorated-picture .decoration-children img {
    border-radius: 50%;
    width: 30vw !important;
    height: 30vw !important;
    position: unset !important;
}