.footer {
    width: 100%;
    padding-right: 8vw;
    padding-left: 8vw;
    margin-bottom: 56px;
    align-self: center;
}

.footer .divider {
    width: 100%;
    border-bottom: 1px solid rgb(var(--color-primary-alt));
    margin-bottom: 8px;
}

.footer .icon {
    min-width: 28px;
    min-height: 28px;
    background-color: rgb(var(--color-primary-alt));
    mask-size: contain;
}

.footer .icon.linkedin {
    -webkit-mask-image: var(--linkedin);
    mask-image: var(--linkedin);
}

.footer .icon.github {
    -webkit-mask-image: var(--github);
    mask-image: var(--github);
}

.footer .icon.twitter {
    -webkit-mask-image: var(--twitter);
    mask-image: var(--twitter);
}

.footer .icon.threads {
    -webkit-mask-image: var(--threads);
    mask-image: var(--threads);
}

body {
    .footer .content {
        flex-direction: row !important;
    }
}

body.mobile {
    .footer .content {
        flex-direction: column !important;
        gap: 16px !important;
    }

    .footer .actions {
        justify-content: center !important;
    }
}