@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'dark_theme.scss';
@import 'light_theme.scss';
@import '../home/index.scss';
@import '../ui/index.scss';

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  --arrow_dropdown: url('https://www.lucascouto.dev/assets/images/arrow_dropdown.svg');
  --linkedin: url('https://www.lucascouto.dev/assets/icons/linkedin.svg');
  --github: url('https://www.lucascouto.dev/assets/icons/github.svg');
  --twitter: url('https://www.lucascouto.dev/assets/icons/twitter.svg');
  --threads: url('https://www.lucascouto.dev/assets/icons/threads.svg');

  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-medium: 20px;
  --font-size-large: 36px;

  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

h1 {
  color: rgb(var(--color-secondary));
  font-weight: 900;
  font-size: var(--font-size-large);
}

h2 {
  color: rgb(var(--color-primary-alt));
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-size: var(--font-size-normal);
}

input,
textarea {
  width: 100%;
  border-bottom: 1px solid rgb(var(--color-primary-alt));
  margin-bottom: 2px;
  background-color: transparent;
  resize: none;
  padding: 4px;
}

input:focus {
  border-bottom: 3px solid rgb(var(--color-primary-alt));
  margin-bottom: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.link {
  color: rgb(var(--color-primary-alt));
}

.btn-default {
  color: rgb(var(--color-background));
  background-color: rgb(var(--color-primary-alt));
  padding: 12px 32px;
  border-radius: 50px;
}

.btn-default:hover {
  filter: brightness(0.95);
}