body {
  --color-primary: 173, 239, 209; //#adefd1;
  --color-secondary: 0, 32, 63; //#00203f;
  --color-primary-alt: 104, 170, 170; //#68aaaa;
  --color-background: 255, 255, 255; //#ffffff;
  --color-foreground: 44, 44, 44; //#2c2c2c;
  --logo: url('http://localhost:3000/assets/images/logo_light.svg');
  --logo-alt: url('http://localhost:3000/assets/images/logo_dark.svg');
  --image-decoration-1: url('http://localhost:3000/assets/images/image_decoration_light_1.svg');
  --image-decoration-2: url('http://localhost:3000/assets/images/image_decoration_light_2.svg');
}