body {
  --color-primary: 173, 239, 209; //#ADEFD1;
  --color-secondary: 0, 32, 63; //#00203F;
  --color-primary-alt: 104, 170, 170; //#68AAAA;
  --color-background: 255, 255, 255; //#FFFFFF;
  --color-background-alt: 233, 233, 233; //#E9E9E9;
  --color-foreground: 44, 44, 44; //#2C2C2C;
  --logo: url('https://www.lucascouto.dev/assets/images/logo_light.svg');
  --logo-alt: url('https://www.lucascouto.dev/assets/images/logo_dark.svg');
  --image-decoration-1: url('https://www.lucascouto.dev/assets/images/image_decoration_light_1.svg');
  --image-decoration-2: url('https://www.lucascouto.dev/assets/images/image_decoration_light_2.svg');
}