.about-me .content {
  padding-right: 8vw;
}

body.mobile {
  .about-me {
    flex-direction: column !important;
  }

  .about-me .image {
    height: 45vw;
  }

  .about-me .content {
    padding: 8vw;
  }
}

body {
  .about-me {
    flex-direction: row !important;
    padding-top: 120px;
  }

  .about-me .image {
    width: 100%;
    min-height: 45vw;
  }

  .about-me .content {
    width: 100%;
  }
}