.contact .content {
    margin: 8vw;
    margin-top: 120px;
}

.contact .form {
    width: 70%;
    align-self: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .form .field {
    width: 100%;
}

.contact .thank-you {
    margin: 20vw 10vw;
}

body.mobile {
    .contact .content {
        margin: 8vw;
    }
}

body {
    .contact .content {
        height: 100%;
    }
}