.work .content {
    padding-left: 8vw;
}

.work .divider {
    height: 50vh;
    border-left: 1px solid rgb(var(--color-primary-alt));
    align-self: center;
    margin: 32px;
}

.work .image img {
    width: 30vw !important;
    height: 30vw !important;
    position: unset !important;
}

body.mobile {
    .work {
        flex-direction: column-reverse !important;
    }

    .work .content {
        padding: 8vw;
        align-items: flex-start !important;
    }

    .work .divider {
        height: 0px;
        margin: 0px;
        visibility: hidden;
    }

    .work .dropdown {
        width: 100%;
    }

    .work .dropdown-menu {
        width: 100%;
    }
}

body {
    .work {
        flex-direction: row !important;
        padding-top: 120px;
    }

    .work .image {
        width: 100%;
        min-height: 45vw;
    }

    .work .content {
        width: 100%;
    }
}